@charset "UTF-8";
/*ПІДКЛЮЧЕННЯ ШРИФТІВ ТА МІКСИНІВ &display=swap*/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=Montserrat:wght@400;500;600;700&family=Roboto:wght@300;900&display=swap");
/*ПЕРЕМІННІ*/
/*ОБНУЛЕННЯ*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
html.lock {
  overflow: hidden;
}

html {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-x: hidden;
}
html .lock {
  overflow: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  color: #2D2D2D;
}

[class*=__container] {
  max-width: 1777px;
  margin: 0 auto;
  padding: 0 15px;
}

/*Основний код*/
.header {
  position: absolute;
  width: 100%;
}
.header__container {
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  z-index: 5;
  display: flex;
  gap: 11px;
  align-items: center;
}
.header__logo a {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #fff;
}
.header__burger {
  z-index: 5;
  position: absolute;
}
@media (max-width: 767.98px) {
  .header__burger {
    position: relative;
    width: 30px;
    height: 18px;
    z-index: 5;
  }
  .header__burger::before, .header__burger::after,
.header__burger span {
    left: 0;
    position: absolute;
    height: 2px;
    width: 100%;
    transition: all 0.3s ease 0s;
    background: #FAFAFA;
    border-radius: 1.5px;
  }
  .header__burger::before, .header__burger::after {
    content: "";
  }
  .header__burger::before {
    top: 0%;
  }
  .header__burger::after {
    bottom: 0%;
  }
  .header__burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
}
.header__burger.active span {
  transform: scale(0);
}
.header__burger.active::after {
  top: 50% !important;
  transform: translate(0px, -50%) rotate(45deg);
}
.header__burger.active::before {
  top: 50% !important;
  transform: translate(0px, -50%) rotate(-45deg);
}
.header__menu {
  z-index: 5;
}
.header__menu__body {
  display: flex;
  gap: 65px;
}
@media (max-width: 1757px) {
  .header__menu__body {
    gap: calc(25px + 40 * ((100vw - 320px) / (1437)));
  }
}
.header__menu__link a {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  position: relative;
  transition: 0.25s;
}
@media (any-hover: hover) {
  .header__menu__link a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    transition: 0.25s;
    transform: scale(0);
    background-color: #fff;
  }
  .header__menu__link a:hover::before {
    transform: scale(1);
  }
}
@media (max-width: 767.98px) {
  .header__menu {
    overflow: auto;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    left: -100%;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: all 0.3s ease 0s;
  }
  .header__menu__body {
    overflow: auto;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    gap: 100px;
  }
  .header__menu__link a {
    font-size: 40px;
  }
  .header__menu.active {
    left: 0;
  }
}

.explore {
  margin-bottom: 150px;
}
@media (max-width: 1757px) {
  .explore {
    margin-bottom: calc(100px + 50 * ((100vw - 320px) / (1437)));
  }
}
.explore__container {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  max-width: 100vw;
  height: 100vh;
}
.explore__swiper {
  margin: 0 0;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.explore__slide__img {
  width: 100%;
  height: 100%;
}
.explore__slide__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.explore__text {
  width: 100%;
  pointer-events: none;
  z-index: 4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.explore__subtitle {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.55em;
  color: rgba(255, 255, 255, 0.7);
  font-size: 30px;
}
@media (max-width: 1757px) {
  .explore__subtitle {
    font-size: calc(20px + 10 * ((100vw - 320px) / (1437)));
  }
}
.explore__title {
  font-weight: 700;
  font-size: 250px;
  font-size: 250px;
  line-height: 235px;
  color: #fff;
}
@media (max-width: 1757px) {
  .explore__title {
    font-size: calc(75px + 175 * ((100vw - 320px) / (1437)));
  }
}
@media (max-width: 1757px) {
  .explore__title {
    line-height: calc(100px + 135 * ((100vw - 320px) / (1437)));
  }
}
.explore__places {
  display: flex;
  z-index: 4;
  position: absolute;
  gap: 27px;
  bottom: 82px;
  left: 50%;
  transform: translate(-50%, 0);
}
.explore__social {
  width: 24px;
  height: 24px;
  position: relative;
}
@media (any-hover: hover) {
  .explore__social {
    cursor: pointer;
  }
  .explore__social::before {
    content: "";
    position: absolute;
    left: -5px;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #fff;
    transform: scale(0);
    transition: transform 0.25s;
  }
  .explore__social:hover::before {
    transform: scale(1);
  }
}
.explore__place {
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.15);
  display: inline-grid;
  grid-template-rows: 1fr 1fr;
  -moz-column-gap: 28px;
       column-gap: 28px;
  row-gap: 4px;
  transition: 0.3s;
}
.explore__place:hover {
  background: rgba(255, 255, 255, 0.25);
}
.explore__place__img {
  grid-row-start: 1;
  grid-row-end: 3;
}
.explore__place__subtitle {
  width: 115px;
  -moz-text-align-last: left;
       text-align-last: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.explore__place__title {
  -moz-text-align-last: left;
       text-align-last: left;
  width: 115px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
@media (min-width: 1300px) {
  .explore__place {
    padding: 34px 207px 26px 35px;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 1300px) {
  .explore__place {
    padding: 24px 124px 19px 25px;
    grid-template-columns: 32px 1fr;
  }
}
@media (max-width: 756px) {
  .explore__places {
    display: none;
  }
  .explore__text {
    top: 50% !important;
  }
}
.explore__socials {
  z-index: 4;
  display: flex;
  position: absolute;
  gap: 25px;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 991.98px) {
  .explore__text {
    top: 30%;
  }
  .explore__places {
    pointer-events: none;
    flex-direction: column;
  }
  .explore__place {
    padding: 24px 154px 19px 25px;
    grid-template-columns: 32px 1fr;
  }
  .explore__socials {
    bottom: 74px;
    left: 50px;
  }
}
@media (max-width: 991.98px) and (max-width: 1757px) {
  .explore__socials {
    bottom: calc(30px + 44 * ((100vw - 320px) / (1437)));
  }
}
@media (max-width: 991.98px) and (max-width: 1757px) {
  .explore__socials {
    left: calc(20px + 30 * ((100vw - 320px) / (1437)));
  }
}
@media (max-width: 520px) {
  .explore__place {
    padding: 16px 103px 13px 17px;
  }
}
@media (min-width: 991.98px) {
  .explore__socials {
    top: 50%;
    left: 78px;
    transform: translate(0%, -20%);
  }
}

.swiper-pagination {
  pointer-events: none;
  text-align: right;
  bottom: 74px;
  padding-right: 50px;
  color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 1757px) {
  .swiper-pagination {
    bottom: calc(30px + 44 * ((100vw - 320px) / (1437)));
  }
}
@media (max-width: 1757px) {
  .swiper-pagination {
    padding-right: calc(20px + 30 * ((100vw - 320px) / (1437)));
  }
}

.swiper-pagination-total {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-left: 6px;
}

.swiper-pagination-current {
  margin-right: 6px;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: rgb(255, 255, 255);
}

.activities__container {
  position: relative;
  max-width: 1509px;
  margin: 0 auto;
  padding: 0 15px;
}
.activities__swiper {
  display: flex;
  min-width: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.activities__text {
  text-align: center;
}
.activities__subtitle {
  color: #474747;
  letter-spacing: 0.7em;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.activities__title {
  margin-top: 27px;
  margin-bottom: 110px;
  color: #2D2D2D;
  font-weight: 700;
  font-size: 46px;
  line-height: 56px;
}
.activities__slide {
  max-height: 620px;
  max-width: 351px;
  border-radius: 10px;
  overflow: hidden;
}
.activities__slide__img {
  width: 100%;
  height: 100%;
}
.activities__slide__img img {
  width: 100%;
  height: 100%;
  transition: 0.25s;
}
.activities__slide__img img:hover {
  transform: scale(1.04);
}
.activities__slide__text {
  z-index: 5;
  position: absolute;
  bottom: 7.7%;
  left: 10.5%;
}
.activities__slide__title {
  color: #FFFFFF;
  font-weight: 600;
  line-height: 39px;
  margin-bottom: 9px;
  font-size: 32px;
}
@media (max-width: 1757px) {
  .activities__slide__title {
    font-size: calc(20px + 12 * ((100vw - 320px) / (1437)));
  }
}
.activities__slide__subtitle {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  line-height: 21px;
  font-size: 17px;
}
@media (max-width: 1757px) {
  .activities__slide__subtitle {
    font-size: calc(13px + 4 * ((100vw - 320px) / (1437)));
  }
}
@media (max-width: 991.98px) {
  .activities-button {
    display: none;
  }
}

.philosophy__container {
  max-width: 1623px;
  margin-top: 150px;
  overflow: hidden;
}
@media (max-width: 1757px) {
  .philosophy__container {
    margin-top: calc(100px + 50 * ((100vw - 320px) / (1437)));
  }
}
.philosophy__text {
  text-align: center;
}
.philosophy__subtitle {
  text-transform: uppercase;
  letter-spacing: 0.7em;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #474747;
  margin-bottom: 27px;
}
.philosophy__title {
  color: #2D2D2D;
  font-weight: 700;
  font-size: 46px;
  line-height: 56px;
}
.philosophy__columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 93px;
       column-gap: 93px;
  align-items: center;
}
.philosophy__rows {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 70px;
}
.philosophy__row {
  display: grid;
  grid-template-columns: minmax(30px, 60px) auto;
  grid-template-rows: auto 1fr;
  -moz-column-gap: 45px;
       column-gap: 45px;
  row-gap: 20px;
}
.philosophy__row__number {
  grid-row-start: 1;
  grid-row-end: 3;
  color: #9B9B9B;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
}
.philosophy__row__title {
  color: #3D3D3D;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}
.philosophy__row__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #6D6D6D;
}
@media (min-width: 1200px) {
  .philosophy__text {
    margin-bottom: 120px;
  }
  .philosophy__img {
    width: 872px;
    text-align: center;
    height: 100%;
    overflow: hidden;
  }
}
@media (min-width: 1200px) and (max-width: 1757px) {
  .philosophy__img {
    width: calc(300px + 572 * ((100vw - 320px) / (1437)));
  }
}
@media (min-width: 1200px) {
  .philosophy__img img {
    min-height: 100%;
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
  }
}
@media (max-width: 1200px) {
  .philosophy__container {
    margin-top: 100px;
    text-align: center;
  }
  .philosophy__text {
    margin-bottom: 30px;
  }
  .philosophy__img {
    max-width: 100%;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 25px;
  }
  .philosophy__img img {
    max-height: 500px;
    min-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .philosophy__columns {
    display: block;
  }
  .philosophy__row {
    position: relative;
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 800px;
  }
  .philosophy__row__number {
    display: none;
  }
}
@media (max-width: 1200px) and (max-width: 1757px) {
  .philosophy__row {
    width: calc(300px + 500 * ((100vw - 320px) / (1437)));
  }
}

.footer {
  background: #F4F4F4;
}
.footer__container {
  padding-top: 58px;
  padding-bottom: 50px;
  max-width: 1510px;
  text-align: center;
}
.footer__logo {
  display: inline-block;
  background-color: #181818;
  padding: 9px 2px 5px 9px;
  border-radius: 50%;
  margin-bottom: 21px;
}
.footer__companyName {
  font-family: "Roboto";
  color: #000000;
  opacity: 0.9;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.25em;
  margin-bottom: 80px;
}
.footer__menu {
  padding-bottom: 67px;
  position: relative;
}
.footer__menu__body {
  display: inline-flex;
  gap: 65px;
}
.footer__menu__link {
  cursor: pointer;
  color: #6D6D6D;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  position: relative;
}
@media (any-hover: hover) {
  .footer__menu__link::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    transition: 0.25s;
    transform: scale(0);
    background-color: #6D6D6D;
  }
  .footer__menu__link:hover::before {
    transform: scale(1);
  }
}
.footer__menu::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 75%;
  height: 2px;
  background: #000000;
  opacity: 0.2;
}
.footer__bottom {
  padding-top: 66px;
  display: flex;
  justify-content: space-between;
}
.footer__copy__body {
  font-size: 16px;
  line-height: 24px;
  color: #6D6D6D;
}
.footer__socials {
  display: flex;
  gap: 16px;
}
.footer__social {
  width: 24px;
  height: 24px;
  background: #515151;
  opacity: 0.1;
  border-radius: 50%;
}
@media (max-width: 479.98px) {
  .footer__container {
    padding-top: 38px;
    padding-bottom: 30px;
  }
  .footer__companyName {
    margin-bottom: 40px;
  }
  .footer__menu__body {
    flex-direction: column;
    gap: 15px;
  }
  .footer__bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}

.appartements {
  position: relative;
}
.appartements::after {
  content: "";
  position: absolute;
  z-index: -5;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: #F4F4F4;
}
.appartements__container {
  margin-top: 180px;
  max-width: 1623px;
  padding-bottom: 114px;
}
@media (max-width: 1757px) {
  .appartements__container {
    padding-bottom: calc(50px + 64 * ((100vw - 320px) / (1437)));
  }
}
.appartements__text {
  text-align: center;
}
.appartements__subtitle {
  color: #474747;
  letter-spacing: 0.7em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 27px;
}
.appartements__title {
  color: #2D2D2D;
  font-weight: 700;
  line-height: 56px;
  font-size: 46px;
}
@media (max-width: 1757px) {
  .appartements__title {
    font-size: calc(40px + 6 * ((100vw - 320px) / (1437)));
  }
}
.appartements__items {
  margin-top: 95px;
  display: flex;
  gap: 36px;
  margin-bottom: 95px;
  flex-wrap: wrap;
  justify-content: center;
}
.appartements__item__img {
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
}
.appartements__item__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.25s;
}
.appartements__item__img img:hover {
  transform: scale(1.03);
}
.appartements__item__title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}
.appartements__item__title-stars {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 14px;
}
.appartements__item__stars {
  display: flex;
}
.appartements__item__price {
  color: #959595;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.appartements__form {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.appartements__form label {
  color: #9B9B9B;
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  display: block;
  margin-bottom: 11px;
}
.appartements__form select {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #DBDBDB;
  border-radius: 5px;
  color: #4E4E4E;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 27px 196px 26px 22px;
  padding-right: 196px;
}
@media (max-width: 1757px) {
  .appartements__form select {
    padding-right: calc(20px + 176 * ((100vw - 320px) / (1437)));
  }
}
.appartements__btn__body {
  padding: 27px 79px;
  border-radius: 10px;
  background-color: #fff;
  border-width: 0;
  border-radius: 5px;
  border: 1px solid black;
  letter-spacing: 5px;
  transition: 0.3s;
  padding-right: 79px;
  padding-left: 79px;
}
@media (max-width: 1757px) {
  .appartements__btn__body {
    padding-right: calc(35px + 44 * ((100vw - 320px) / (1437)));
  }
}
@media (max-width: 1757px) {
  .appartements__btn__body {
    padding-left: calc(35px + 44 * ((100vw - 320px) / (1437)));
  }
}
.appartements__btn__body:hover {
  border-radius: 15px;
}
@media (max-width: 991.98px) {
  .appartements__item {
    min-width: 70%;
  }
  .appartements__form {
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .appartements__btn {
    align-content: center;
    text-align: center;
    width: 100%;
  }
}

.partners__container {
  max-width: 1690px;
  margin-top: 178px;
}
.partners__text {
  text-align: center;
}
.partners__subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.7em;
  color: #474747;
}
.partners__title {
  margin-top: 27px;
  font-weight: 700;
  font-size: 46px;
  line-height: 56px;
  color: #2D2D2D;
}
.partners__list {
  margin-top: 20px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 991.98px) {
  .partners__list {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
}
.partners__reviews {
  background: url("https://wallpaperaccess.com/full/3106832.jpg") center/cover no-repeat;
  overflow: hidden;
  position: relative;
}
.partners__reviews__items {
  display: flex;
  gap: 50px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 150px;
  margin-bottom: 105px;
}
@media (max-width: 991.98px) {
  .partners__reviews__items {
    flex-wrap: wrap;
  }
}
.partners__reviews__item__quoteBlock {
  position: relative;
  padding: 25px 12px 45px 37px;
  background: #FFFFFF;
  border-radius: 10px;
}
.partners__reviews__item__quoteBlock__quote {
  color: #FF9921;
  opacity: 0.5;
  font-weight: 800;
  font-size: 60px;
}
.partners__reviews__item__quoteBlock__text {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #474747;
}
.partners__reviews__item__quoteBlock::before {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -8px;
  left: 36px;
  width: 30px;
  height: 40px;
  transform: rotate(45deg);
  border-radius: 5px;
  background-color: #fff;
}
.partners__reviews__item__quoterBlock {
  margin-left: 10px;
  margin-top: 41px;
  display: grid;
  grid-template-columns: 56px auto;
  grid-template-rows: auto auto;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.partners__reviews__item__quoterBlock__img {
  grid-row-start: 1;
  grid-row-end: 3;
}
.partners__reviews__item__quoterBlock__name {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}
.partners__reviews__item__quoterBlock__work {
  color: #FFFFFF;
  opacity: 0.9;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}/*# sourceMappingURL=style.css.map */